.search__input{
    backdrop-filter: blur(8px);
    border-radius: 100px;
    min-width: 608px;
    min-height: 64px;
    border:none;
   padding: 0 0 0 24px;
}
.search__input:focus{
    outline: none;
    border: 5px solid #403f3f
}