.author__image{
    display: block;
    max-width: 50%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;

}
@media screen and (max-width: 1040x) {
    .author__image{
       width: 350x;
       height: 350px;
    }
}

@media screen and (max-width: 768px) {
    .author__image{
       width: 220x;
       height: 220px;
       margin: 61px 34px 61px 40px;
    }
}