.search__form {
    box-sizing: border-box;
    backdrop-filter: blur(8px);
    border-radius: 100px;
    min-width: 608px;
    min-height: 64px;
    display: flex;
    flex-direction: row;
    margin: 64px 0 0 0;
}