.menu__header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    position: relative;
    width: 189px;
    top: 2px;
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 1.125em;
}