.page__top {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    margin: 0 auto;
    background: url("../../../images/page-bg.png") no-repeat center;
    font-family: Roboto;
}

